.hero{
    height:100vh;
    width:100%;
    position:relative;
    background:linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url("../../../assets/images/herobg.webp");
    /* background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("https://images.pexels.com/photos/7972557/pexels-photo-7972557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;

}
.hero .hero-header{

    font-size:4rem;
    line-height:4rem;

}



@media(max-width:820px){

    .hero-buttons{

        max-width:300px;

        margin:0 auto;

    }
    .hero .hero-header{

        font-size:3rem;
        line-height:3rem;
    
    }
    

}
@media(max-width:500px){

    .hero-buttons{

        max-width:300px;

        margin:0 auto;

    }
    .hero .hero-header{

        font-size:2rem;
        line-height:2rem;
    
    }
    

}


.hero .content{
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
 
}