.user-account-sidebar {
  height: 100vh;
  max-width: 280px;
  width: 80%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  position: fixed;
}
.account-layout .main {
  width: calc(100% - 280px);
  float: right;
  margin-top: 50px;
}
