.navbar .navbar-ul li {
  position: relative;

  cursor: pointer;
}

.navbar .navbar-ul li a {
  display: block;
  padding: 0.7rem 0;
}

.navbar {
  transition: background-color 0.3s ease-in-out;
 
}

.navbar .navbar-ul li::after {
  content: "";

  position: absolute;

  height: 4px;

  width: 0;

  background: #fff;

  bottom: 0;

  left: 0;

  /* transition:all 0.5s; */
}

.navbar-ul .active {
  font-weight: bold; /* Example style for active link */
  border-bottom: 4px solid blue; /* Example style for active link */
}

.navbar .navbar-ul li:hover::after {
  width: 100%;
}

.navbar .mobile-navigation {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("../../../assets/images/herobg.webp");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  z-index: 9999;

  /* background-color: blue; */
}

@media (max-width: 820px) {
}
