@import url('https://fonts.googleapis.com/css2?family=Itim&family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;


  font-family:'Outfit',sans-serif;
}

:root{

  --primary:#117909;

  --descriptions-color:#676767;

}



::-webkit-scrollbar {
  width: 3px;
  height:2px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ff8c00;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.subtopic{

  font-weight:700;

  font-size:2.3rem;

  text-align:center;

}

.universal-button{
  background: #ff8c00;
  padding:0.3rem 2rem;
  border-radius:30px;
  color:#fff;
  transition:All 0.5s;
  border:2px solid #ff8c00;
}

.universal-button:hover{

  background:transparent;

  color:#ff8c00;

}

img{

  width:100%;

}

.container{

  width:100%;

  max-width:1300px;

  margin:0 auto;


  padding:0 2%;

}

a{

  text-decoration:none;

}


.description{
  color:#676767;
  line-height:2rem;
}

ul{

  list-style:none;

}

@media(max-width:600px){

  .subtopic{

    font-size:1.8rem;

  }

}