@import url('https://fonts.googleapis.com/css2?family=Itim&family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;


  font-family:'Outfit',sans-serif;
}

:root{

  --primary:#117909;

}


::-webkit-scrollbar {
  width: 3px;
  height:2px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ff8c00;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img{

  width:100%;

}

.container{

  width:100%;

  max-width:1300px;

  margin:0 auto;


  padding:0 2%;

}

a{

  text-decoration:none;

}


ul{

  list-style:none;

}